
@{
  ViewData["Title"] = "About";
}

<h1 class="section-title">About</h1>

<p>Hi everyone, like always I hope you have an amazing time. My name is Ionuț. This is a classic Romanian name and unfortunately, most of the people are having trouble with its pronunciation. Don’t worry about this :)</p>
<p>I’m a Software Engineer and I really love every part of this domain. From the problem description to the implementation and the release it’s a long, painful sometimes but stunning process. It constantly feeds my need to find and build creative solutions for real problems.</p>
<p>💡 Check the <a class="link-color link-hover" asp-controller="Home" asp-action="CurriculumVitae">CV page</a> for my working experience information.</p>

<h1 class="section-title" id="start-programming">How do I start programming</h1>

<p>My beginning in this activity it was very unexpected. My highschool profile was based on mathematics and informatics. Back then I was very good at math and with all of that in the first 2 years, I decided to study law.  I was so serious that I borrowed the courses from a friend who was studying law at that time.</p>
<p>Everything changed for me when I discovered a C++ programming tutorial. It was a simple one but it was presented in such a way that made me wanted to start learning immediately. None of my informatics teachers couldn’t make me so curious about this domain. After a while and after lots of online courses I gained the knowledge I lost during this time. Being good at math it was easy for me to apply the algorithmic thinking in the programming problems. Very soon I also tested the competitive programming contests which were going to keep me busy until the end of the high school.</p>

<h1 class="section-title">The first attempt at creating a software product - The Big Picture</h1>

<p>During college, I became more and more passionate about how software products are made and I was almost obsessed with the idea of creating my own product and business. The perfect idea doesn’t exist and how “unicorns” ideas are not so easy to find, I decided to address a problem that I already knew it exists. I mentioned in my quick story about <a class="link-color link-hover" href="@Url.Action("About", "Home")#start-programming">How do I start programming</a> that I spend half of the high school believing I will study the law. Well, I didn’t but I came up with an idea of a product-focused on this domain. In a short time, I gather a small crew and we were already debating different aspects of the idea. </p>
<p>Until now everything sounds like we were going to create our own product for sure, but obviously it wasn’t exactly like that. None of us didn’t have the necessary experience to lead such a project. We successfully manage to create a work program and for 5-6 months it was really awesome. A lot of fun and great knowledge was gained during this process. Unfortunately, we didn’t succeded to make an official release and most of us began to lose their interest. Slowly but surely each of us gives up. The companies from my town played an important role because most of us wanted to get a job from the beginning and they took advantage of every opportunity they have. How our project didn’t pay the bills or the rent nobody couldn’t blame them. After another 2 months, I also stopped from the same reasons.</p>
<p>Now looking back at what we did, I see from the start a very big problem. We were trying to release our first version when everything was perfect.  The concept of beta version or an official version but with fewer features didn’t exist. You can imagine that a group of students trying to build something didn’t stop at one single mistake. We made a lot of them.</p>
<p>If you want to find more about what I did wrong in the past be sure you check <a class="link-color link-hover" href="#">My beginner mistakes</a> blog post.</p>
