
@{
  ViewData["Title"] = "Curriculum Vitae";
}

<h1 class="section-title">Curriculum Vitae</h1>

<div class="CV-section container">
  <div class="text-center cv-left-panel">
    <img class="profile-pic" src="~/images/profilePic.jpg" alt="Ionut Enache Stoian - Profile Picture" />
    <p class="profile-name-CV">Ionut Enache-Stoian</p>

    <div class="cv-contacts text-left">
      <p>
        <i class="fa fa-map-marker" style="font-size:20px"></i>
        Craiova, Romania
      </p>
      <p>
        <i class="fa fa-envelope" style="font-size:20px"></i>
        enachestoianionut@gmail.com
      </p>
      <p class="text-black">
        <a class="link-hover link-black" href="https://twitter.com/ionutenache_" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-twitter" style="font-size:20px"></i> Twitter
        </a>
      </p>
      <p>
        <a class="link-hover link-black" href="https://www.linkedin.com/in/ionut-enache-stoian-21341b180/" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-linkedin-square" style="font-size:20px"></i> LinkedIn
        </a>
      </p>
      <p>
        <a class="link-hover link-black" href="https://github.com/Enache-Ionut" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-github" style="font-size:20px"></i> GitHub
        </a>
      </p>
    </div>
  </div>

  <div class="cv-right-panel">
    <h3 class="cv-section-title">About</h3>
    <p class="cv-text-section">
      Software Engineer at Caphyon and developer at ClangPowerTools VSIX. Trying to enter in the AspNetCore and Blazor world. Open-source and automation enthusiast.
    </p>
    <h3 class="cv-section-title">About</h3>
    <p class="cv-text-section">
      Software Engineer at Caphyon and developer at ClangPowerTools VSIX. Trying to enter in the AspNetCore and Blazor world. Open-source and automation enthusiast.
    </p>
  </div>

</div>
