<footer class="border-top footer text-muted">
  <div class="container text-white footer-container">

    <a class="link-hover text-white" href="https://www.linkedin.com/in/ionut-enache-stoian-21341b180/" target="_blank" rel="noopener noreferrer">
      <i class="fa fa-linkedin-square" style="font-size:36px"></i>
    </a>

    <a class="link-hover text-white" href="https://twitter.com/ionutenache_" target="_blank" rel="noopener noreferrer">
      <i class="fa fa-twitter" style="font-size:36px"></i>
    </a>

    <a class="link-hover text-white" href="https://github.com/Enache-Ionut" target="_blank" rel="noopener noreferrer">
      <i class="fa fa-github" style="font-size:36px"></i>
    </a>
  </div>
</footer>