@model string

<div class="information-cart squareBase">
  <a class="text-white center no-decoration" asp-area="" asp-controller="Home" asp-action="CurriculumVitae">

    <div class="information-cart-title">
      <p>@Model</p>
    </div>
    <div class="information-cart-body">

    </div>


  </a>
</div>
