@model PageInformationModel

<div class="information-cart squareBase">
  <a class="text-white center no-decoration" asp-area="" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName">
    <div class="information-cart-title">
      <p>@Model.DisplayName</p>
    </div>
    <div class="information-cart-body">
      <i class="@Model.IconClassName" aria-hidden="true" style="font-size:40px"></i>
    </div>
  </a>
</div>
