@model IEnumerable<Article>

@{
  ViewData["Title"] = "Projects";
}

<h1 class="section-title">Projects</h1>

<div>
  @foreach (var article in Model)
  {
    @await Html.PartialAsync("_ArticleCardPartial", article)
  }
</div>