@model Article
@{
  ViewData["Title"] = "RC Strings";
}

<div class="article-section">
  <div class="article-title">
    @await Html.PartialAsync("_ArticleTitlePartial", @Model)
  </div>
  <div class="article-body">
    <p>Article Content</p>
  </div>
</div>


